body{
    font-family: Work Sans;
}
.btn-primary{
    display: flex; 
    flex-direction: column;
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: white;
text-align: right;
font-size: 20px;
font-weight: 600;
line-height: normal;
width: 160px
height: 64px;
padding: 10px 35px;
margin: 578px 230px 167px 1210px;
}
.banner-content-inside{
    gap: 26px;
}
.banner-content-inside{ 
    display: flex;
    text-align: right;
    flex-direction: column;
    flex-shrink: 0;
    font-style: normal;
}
.banner-title{
    margin: 216px 230px 365px 845px;
    width: 525px;
    height: 228px;
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    line-height: normal;
}
.banner-description{
    margin: 468px 230px 263px 876px;
    width: 494px;
    height: 78px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
